<html lang="en" dir="ltr">
    <head>
        <title>晶华微电子芯片程序管理系统</title>
    	<link rel="stylesheet" href="js/page/demo.css" type="text/css" />
    	<script type="text/javascript">
    		dojoConfig = {
    			async: true,
    			locale: "en-gb"
    		};
    	</script>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="js/dojo/dijit/themes/claro/claro.css" />
		<link rel="stylesheet" href="js/dojo/dojox/form/resources/UploaderFileList.css" />
		<style type="text/css">
			@import "js/dojo/dojox/grid/resources/Grid.css";
            @import "js/dojo/dojox/grid/resources/nihiloGrid.css";
    		.dojoxGrid table {
                margin: 0;
            }
            body, html { font-family:helvetica,arial,sans-serif; font-size:90%; }
        </style>
		<script type="text/javascript" src="js/dojo/dojo/dojo.js" data-dojo-config="async: true, parseOnLoad: false, isDebug: true"></script>
		<script type="text/javascript" src="js/page/index.js" charset="utf-8"></script>
    </head>
    <body class="claro">
		<div id="preloader">Loading Application...</div>
		<div data-dojo-type="dijit/Dialog" id="loginDialog" title="用户登录" href="LoadLoginDialog.do">
		</div>
    	<script type="dojo/require">
    	  "demo.dom": "dojo/dom",
    	  "demo.registry": "dijit/registry"
    	</script>
        <div style="width: auto; height: auto">
            <div dojoType="dijit/layout/BorderContainer" style="width: 100%; height: 100%;text-align:center;">
                <div dojoType="dijit.layout.ContentPane" region="top" splitter="false" href="loadHeaderContentPane.do">					
                </div>
                <div dojoType="dijit.layout.ContentPane" region="left" style="width: 20%;" splitter="true">
		            <div dojoType="dijit/layout/AccordionContainer" style="width: 100%; height: 100%;">
		                 <div dojoType="dijit/layout/ContentPane" id="userContentPane" title="用户" href="loadUserContentPane.do">		                 	
		                 </div>
		                 <div dojoType="dijit/layout/ContentPane" id="productContentPane" title="产品" href="loadProductContentPane.do">
		                 </div>
						 <div dojoType="dijit/layout/ContentPane" id="driverContentPane" title="程序" href="loadDriverContentPane.do">
						 </div>
			        </div>
                </div>
                <div dojoType="dijit/layout/ContentPane" region="center" splitter="true">
		            <div dojoType="dijit/layout/TabContainer" style="width: 100%; height: 100%;" id="myTabContainer">
		            </div>					
                </div>
             </div>
        </div>		
	</body>
</html>