<!DOCTYPE html>
<html >
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="js/dojo/dijit/themes/claro/claro.css">	
	<script>dojoConfig = {parseOnLoad: true}</script>
	<script src='js/dojo/dojo/dojo.js'></script>	
	<script>
		dojo.require("dijit.dijit");
		require(["dojo/parser", "dijit/form/Form", "dijit/form/Button", "dijit/form/ValidationTextBox", "dijit/form/Select"]);
		require(["dojo/store/JsonRest"]); 
        dojo.addOnLoad(function() {		
    		var store = new dojo.store.JsonRest({
    			target: "getUserTypes.do"
    		});  
    		var userTypes = dijit.byId("type");
    		userTypes.set("store",store);
    		var button = dijit.byId("myButton");
    		dojo.connect(button, "onClick", null, function(evt) {
        		dojo.xhrPost({
                    url: "login.do",
        			handleAs : "json",
        			form : "myForm",
                    load: function(data) {
                    }
                });
    		});
        });
		function myFunction(url)
        {
        	window.location.href= url;
        }
	</script>
</head>
<body class="claro">
    <div data-dojo-type="dijit/form/Form" id="myForm" data-dojo-id="myForm" encType="multipart/form-data" action="login.do" method="">
    <table style="border: 1px solid #9f9f9f;" cellspacing="10">
		<tr>
            <td>
                <label for="type">请选择登录类型:</label>
            </td>
            <td>
				<input data-dojo-type="dijit/form/Select" value="" data-dojo-props="labelAttr:'name',valueAttr:'name'" name="type" id="type" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="account">用户名:</label>
            </td>
            <td>
                <input type="text" id="account" name="account" required="true" data-dojo-type="dijit/form/ValidationTextBox"/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="dob">密码:</label>
            </td>
            <td>
                <input type="password" id="password" name="password" data-dojo-type="dijit/form/ValidationTextBox"/>
            </td>
        </tr>
    </table>
	<button data-dojo-type="dijit/form/Button" id="myButton" type="button">登录</button>
</div>
</body>
</html>