<html lang="en" dir="ltr">
    <head>
        <title>Dijit Template</title>
        <link rel="stylesheet" href="js/dojo/dijit/themes/claro/claro.css" />
        <style type="text/css">
            body, html { font-family:helvetica,arial,sans-serif; font-size:90%; }
        </style>
    </head>
    <body class="claro">
        <div style="width: auto; height: auto">
            <div dojoType="dijit.layout.BorderContainer" style="width: 100%; height: 100%;text-align:center;">
                <div dojoType="dijit.layout.ContentPane" region="top" splitter="true" >
                    金华微电子芯片程序管理系统
                </div>
                <div dojoType="dijit.layout.ContentPane" region="left" style="width: 20%;" splitter="true">
		            <div dojoType="dijit.layout.AccordionContainer" style="width: 100%; height: 100%;">
		                 <div dojoType="dijit.layout.ContentPane" title="用户">
		                 	<button data-dojo-type="dijit/form/Button" id="loginBtn" type="button">用户登录</button>
					        <div dojoType="dijit.layout.StackContainer" id="stackContainer">
					        	<div dojoType="dijit.layout.ContentPane" title="用户管理">
					                This is the content in stack 1.
					            </div>
					            <div dojoType="dijit.layout.ContentPane" title="用户管理">
					                This is the content in stack 1.
					            </div>
					            <div dojoType="dijit.layout.ContentPane" title="新增用户">
					                This is the content in stack 2.
					            </div>
					        </div>
					        <div dojoType="dijit.layout.StackController" containerId="stackContainer"></div>
		                 </div>
		                 <div dojoType="dijit.layout.ContentPane" title="产品">
		                     This is the content in blade 2.
		                 </div>
		                <div dojoType="dijit.layout.ContentPane" title="程序">
		                    This is the content in blade 3.
		                </div>
			        </div>
                </div>
                <div dojoType="dijit.layout.ContentPane" region="center" splitter="true">
		            <div dojoType="dijit.layout.TabContainer" style="width: 100%; height: 100%;">
		                <div dojoType="dijit.layout.ContentPane" title="Tab 1">
		                    This is the content in tab 1.
		                </div>
		                <div dojoType="dijit.layout.ContentPane" title="Tab 2">
		                    This is the content in tab 2.
		                </div>
		            </div>
                </div>
                <div dojoType="dijit.layout.ContentPane" region="right" style="width: 100px;" splitter="true">
                    This is the content in the right section.
                </div>
                <div dojoType="dijit.layout.ContentPane" region="bottom" splitter="true">
                     This is the content in the bottom section.
                 </div>
             </div>
        </div>
		<script src="js/dojo/dojo/dojo.js" djConfig="parseOnLoad: true"></script>
        <script>
			dojo.require("dijit.dijit");
            dojo.require("dijit.layout.StackContainer");
            dojo.require("dijit.layout.StackController");
            dojo.require("dijit.layout.ContentPane");
			dojo.require("dijit.layout.TabContainer");
			dojo.require("dijit.layout.ContentPane");
			dojo.require("dijit.layout.AccordionContainer");
			dojo.require("dijit.layout.ContentPane");
            dojo.require("dijit.layout.BorderContainer");
            dojo.require("dijit.layout.ContentPane");
            dojo.addOnLoad(function() {
            });
        </script>
	</body>
</html>
<!DOCTYPE html>
<html >
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="js/dojo/dijit/themes/claro/claro.css">	
	<script>dojoConfig = {parseOnLoad: true}</script>
	<script src='js/dojo/dojo/dojo.js'></script>	
	<script>
		dojo.require("dijit.dijit");
		require(["dojo/parser", "dijit/form/Form", "dijit/form/Button", "dijit/form/ValidationTextBox", "dijit/form/Select"]);
		require(["dojo/store/JsonRest"]); 
        dojo.addOnLoad(function() {		
    		var store = new dojo.store.JsonRest({
    			target: "getUserTypes.do"
    		});  
    		var userTypes = dijit.byId("type");
    		userTypes.set("store",store);
    		var button = dijit.byId("myButton");
    		dojo.connect(button, "onClick", null, function(evt) {
        		dojo.xhrPost({
                    url: "login.do",
        			handleAs : "json",
        			form : "myForm",
                    load: function(data) {
                    }
                });
    		});
        });
		function myFunction(url)
        {
        	window.location.href= url;
        }
	</script>
</head>
<body class="claro">
    <div data-dojo-type="dijit/form/Form" id="myForm" data-dojo-id="myForm" encType="multipart/form-data" action="login.do" method="">
    <table style="border: 1px solid #9f9f9f;" cellspacing="10">
		<tr>
            <td>
                <label for="type">请选择登录类型:</label>
            </td>
            <td>
				<input data-dojo-type="dijit/form/Select" value="" data-dojo-props="labelAttr:'name',valueAttr:'name'" name="type" id="type" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="account">用户名:</label>
            </td>
            <td>
                <input type="text" id="account" name="account" required="true" data-dojo-type="dijit/form/ValidationTextBox"/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="dob">密码:</label>
            </td>
            <td>
                <input type="password" id="password" name="password" data-dojo-type="dijit/form/ValidationTextBox"/>
            </td>
        </tr>
    </table>
	<button data-dojo-type="dijit/form/Button" id="myButton" type="button">登录</button>
</div>
</body>
</html>