<form data-dojo-type="dijit/form/Form" id="addVersionForm" enctype="multipart/form-data">
	<script type="dojo/on" data-dojo-event="show">
        dojo.connect(dijit.byId("addVersionForm.driverFile"), "onComplete", function(dataArray){			
            dojo.forEach(dojo.isArray(dataArray) ? dataArray : [dataArray], function(resp){
				if(!resp.success){
					alert(resp.msg);
				}else{
    				dijit.byId('addVersionDialog').hide();
    				versionGrid.setQuery({driverId:"$!driverId"});
				}
            });
        });
	</script>
    <table style="border: 1px solid #9f9f9f;" cellspacing="10">
		<tr>
            <td>
                <label for="type">程序版本:</label>
            </td>
            <td>
				<input type="text" id="addVersionForm.version" value="$!lastVersion" name="version" required="true" data-dojo-type="dijit/form/ValidationTextBox" readOnly/>
            </td>
        </tr>
		<tr>
            <td>
                <label for="type">校验码:</label>
            </td>
            <td>
				<input type="text" id="addVersionForm.sequence" value="" name="sequence" required="true" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props="maxLength:5, regExp:'[A-Za-z0-9]*', invalidMessage:'支持:英文,数字'"/>
            </td>
        </tr>
		<tr>
            <td>
                <label for="type">可烧录次数:</label>
            </td>
            <td>
				<input type="text" id="addVersionForm.burnSum" name="burnSum" value="50" required="true" data-dojo-type="dijit/form/NumberTextBox" data-dojo-props="constraints:{min:0,max:100000,places:0}, invalidMessage:'请输入有效数字.', rangeMessage:'0-100000.'" readOnly/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="account">程序文件:</label>
            </td>
            <td>
				<input name="driverFile" multiple="false" type="file" accept="image/gif, image/jpeg" dojoType="dojox/form/Uploader" label="选择" id="addVersionForm.driverFile" uploadOnSelect="false" url="addVersionAction.do?driverId=$!driverId"/>
            </td>
        </tr>
		<tr>
            <td>
                <label for="type">备注:</label>
            </td>
			<td>
				<textarea id="addVersionForm.remark" name="remark" cols="50" data-dojo-type="dijit/form/Textarea"></textarea>
			</td>
        </tr>
    </table>
	<div id="files" dojoType="dojox/form/uploader/FileList" uploaderId="addVersionForm.driverFile">
	</div>
    <button data-dojo-type="dijit/form/Button" type="submit" id="addVersionForm.saveUserBtn">保存
        <script type="dojo/on" data-dojo-event="click">
			var file = dijit.byId("addVersionForm.driverFile").getFileList();
			if(file.length<1){
				window.alert('请选择程序文件.'); 
				return false; 
			}
	
			var endStringreg=new RegExp(".hex$");
			if(!endStringreg.test(file[0].name)){
				window.alert('请选择.hex文件.'); 
				return false; 
			}
			var form = dijit.byId("addVersionForm");
			if(!form.isValid()){ 
				window.alert("输入不正确，请确认。"); 
				return false; 
			}
    	</script>
	</button>
	<button data-dojo-type="dijit/form/Button" type="button" id="addVersionForm.cancelBtn">返回
        <script type="dojo/on" data-dojo-event="click">
			var form = dijit.byId("addVersionForm");
            dijit.byId('addVersionDialog').hide();
    	</script>
	</button>
</form>