<div style="width: auto; height: auto">
	<div data-dojo-type="dijit/form/Form" data-dojo-id="driverMgSearchForm" encType="multipart/form-data" class="info">
		<table style="width: 100%;">
			<tr>
	            <td align="right">
	                <label for="name">程序名:</label>
	            </td>
	            <td>
	                <input type="text" id="driverMgSearchForm.name" name="name" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props="maxLength:60, regExp:'[A-Za-z0-9\-\u4e00-\u9fa5]*', invalidMessage:'支持:中文,英文,数字,-'"/>
	            </td>
	        	<td>
				    <button data-dojo-type="dijit/form/Button" id="driverMgSearchForm.searchBtn" type="button">查询
						<script type="dojo/on" data-dojo-event="click">
							driverGrid.selection.clear();
							driverGrid.setQuery(driverMgSearchForm.get("value"));							
                    	</script>
					</button>
	        	</td>
	        </tr>
	    </table>
    </div>
	<script type="text/javascript">
        require([
         	"dojo/store/JsonRest",
			"dojo/store/Memory",
			"dojo/store/Cache",
			"dojox/grid/DataGrid",
			"dojo/data/ObjectStore",
			"dojox/grid/cells",
			"dojox/grid/_CheckBoxSelector"
        ], function(JsonRest,Memory,Cache,DataGrid,ObjectStore,Cells,CheckBoxSelector){
            myStore = Cache(  
                JsonRest({
    				target:"dojo/getDriversAction", 
    				headers: {"Content-Type": "application/json"}, 
    				idProperty: "id",
    				}),   
                Memory({ idProperty: "id" })
			);
            dojo.ready(function(){
          		var cells = [[
                    new Cells.RowIndex({
                        name:"No.", width : "4%"
                    }),
					{name:"程序名ID", field:"id", width: "13%"},
    				{name:"程序名", field:"name", width: "13%"},
					{name:"最新版本", field:"lastVersion", width: "13%"},
					{name:"产品型号", field:"productCode", width: "13%"},
					{name:"芯片型号", field:"chipCode", width: "13%"},
					{name:"负责工程师", field:"engineerName", width: "14%"},
					{name:"所属客户", field:"customerName", width: "13%"}					
    			]];
    			var gridLayout = [{
    					type: "dojox.grid._CheckBoxSelector", width: "4%"
    				}, 
    				cells
    			];
                driverGrid = new DataGrid({
                	store: driverDataStore = ObjectStore({objectStore: myStore}),
                	query: "",
                    structure: gridLayout,
    				selectionMode: 'multiple',
    				rowsPerPage: 100,
    				autoHeight: "15"
                }, "driverMgSearchForm.gridDiv");
    			driverGrid.startup();
            });
        });
	</script>
    <div id="driverMgSearchForm.gridDiv" style="width: 100%; height: 80%;">
	</div>
    <div id="driverMgSearchForm.editMode" style="width: 100%; height: 20%;">
        <button data-dojo-type="dijit/form/Button" id="driverMgSearchForm.versionButton">
        	<span>版本管理</span>
        	<script type="dojo/on" data-dojo-event="click">
				var items = driverGrid.selection.getSelected();
                if (items.length == 0) {
                    alert("请选择程序。");
                }else if (items.length > 1) {
					alert("只能选择一个程序。");
				}else{
					jhw.addTab("myTabContainer", "loadVersionManagement.do?driverId=" + items[0].id, "版本管理", true);
				}				
        	</script>
        </button>
		#if ($loginUser.type == 'UserType_1' || $loginUser.type == 'UserType_2')
        <div data-dojo-type="dijit/Dialog" id="addDriverDialog" title="添加产品" href="LoadAddDriverDialog.do">
        </div>		
        <button data-dojo-type="dijit/form/Button" id="driverMgSearchForm.addButton">
        	<span>添加</span>
        	<script type="dojo/on" data-dojo-event="click">
				if(dijit.byId("addDriverDialog").isLoaded){
					dijit.byId("addDriverDialog").show();
					dijit.byId("addDriverDialog").refresh();
				}else{
					dijit.byId("addDriverDialog").show();
				}
        	</script>
        </button>		
        <div data-dojo-type="dijit/Dialog" id="editDriverDialog" title="编辑产品" href="">
        </div>
	    <button data-dojo-type="dijit/form/Button" id="driverMgSearchForm.editButton">
			<span>编辑</span>
			<script type="dojo/on" data-dojo-event="click">
				var items = driverGrid.selection.getSelected();
                if (items.length == 0) {
                    alert("请选择需要编辑的程序。");
                }else if (items.length > 1) {
					alert("只能选择一个程序。");
				}else{
					var id = items[0].id;
					dijit.byId("editDriverDialog").href="LoadEditDriverDialog.do?id=" + id;
    				if(dijit.byId("editDriverDialog").isLoaded){
    					dijit.byId("editDriverDialog").show();
    					dijit.byId("editDriverDialog").refresh();
    				}else{
    					dijit.byId("editDriverDialog").show();
    				}
				}
        	</script>
		</button>
	    <button data-dojo-type="dijit/form/Button" id="driverMgSearchForm.removeButton">
			<span>删除</span>
			<script type="dojo/on" data-dojo-event="click">
                var items = driverGrid.selection.getSelected();
                if (items.length) {
					if(!confirm('确认删除？')){  
                        return false;
                    }
                    dojo.forEach(items, function (selectedItem) {
                        if (selectedItem !== null) {
                            driverDataStore.deleteItem(selectedItem);
                        }
                    });
					saveTable();
                }else{
					alert("请选择需要删除的程序。");
				}
                var onSave = function(){
                	dojo.byId("message").innerHTML = ("Save done.");
                }
                var onSaveError = function(error){
                	alert("Error occurred.");
                }
                function saveTable() {
                    if (driverGrid.edit.isEditing()) {
                    	driverGrid.edit.apply();
                    }
                    if (driverDataStore.isDirty()) {
                    	var result = driverDataStore.save({onComplete: onSave, onError: onSaveError});
                    }
                }
        	</script>
		</button>
		#end
    </div>
	<div id="message">
	</div>
</div>