<form data-dojo-type="dijit/form/Form" id="editVersionForm" enctype="multipart/form-data">
	<script type="dojo/on" data-dojo-event="show">
        dojo.connect(dijit.byId("editVersionForm.myfile"), "onComplete", function(dataArray){			
            dojo.forEach(dojo.isArray(dataArray) ? dataArray : [dataArray], function(resp){
				dijit.byId('editVersionDialog').hide();
				grid.setQuery({driverId:"$!driverId"});
            });
        });
	</script>
    <table style="border: 1px solid #9f9f9f;" cellspacing="10">
		<tr>
            <td>
                <label for="type">程序版本:</label>
            </td>
            <td>
				<input type="text" id="editVersionForm.version" value="$!version.version" name="version" required="true" data-dojo-type="dijit/form/ValidationTextBox"/>
            </td>
        </tr>
		<tr>
            <td>
                <label for="type">校验码:</label>
            </td>
            <td>
				<input type="text" id="editVersionForm.sequence" value="$!version.sequence" name="sequence" required="true" data-dojo-type="dijit/form/ValidationTextBox"/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="account">程序文件:</label>
            </td>
            <td>
				<input name="myfile" multiple="false" type="file" dojoType="dojox/form/Uploader" label="选择" id="editVersionForm.myfile" uploadOnSelect="false" url="addVersionAction.do?driverId=$!driverId"/>
            </td>
        </tr>
		<tr>
            <td>
                <label for="type">备注:</label>
            </td>
			<td>
				<textarea id="editVersionForm.remark" name="remark" cols="50" data-dojo-type="dijit/form/Textarea">$!version.remark</textarea>
			</td>
        </tr>
    </table>
	<div id="editVersionForm.files" dojoType="dojox/form/uploader/FileList" uploaderId="editVersionForm.myfile">
	</div>
    <button data-dojo-type="dijit/form/Button" type="submit" id="editVersionForm.saveUserBtn">保存
        <script type="dojo/on" data-dojo-event="click">
			var form = dijit.byId("editVersionForm");
			if(!form.isValid()){ 
				window.alert('Please fix fields'); 
				return false; 
			}
    	</script>
	</button>
	<button data-dojo-type="dijit/form/Button" type="button" id="editVersionForm.cancelBtn">返回
        <script type="dojo/on" data-dojo-event="click">
			var form = dijit.byId("editVersionForm");
			alert(form.isValid());
            dijit.byId('addVersionDialog').hide();
    	</script>
	</button>
</form>