<div style="width: auto; height: auto">
	<div data-dojo-type="dijit/form/Form" data-dojo-id="driverInfoForm" class="info">
		<table style="width: 100%;">
			<tr>
	            <td align="right">
	                <label for="type">程序名:</label>
	            </td>
	            <td>
					$!driver.name
	            </td>
	            <td align="right">
	                <label for="type">产品型号:</label>
	            </td>
	            <td>
					$!driver.productCode
	            </td>
	            <td align="right">
	                <label for="type">负责工程师:</label>
	            </td>
	            <td>
					$!driver.engineerName
	            </td>
	        </tr>
	    </table>
    </div>
	<script type="text/javascript">
        require([
         	"dojo/store/JsonRest",
			"dojo/store/Memory",
			"dojo/store/Cache",
			"dojox/grid/DataGrid",
			"dojo/data/ObjectStore",
			"dojox/grid/cells",
			"dojox/grid/_CheckBoxSelector",
			"dojo/date/locale",
			"dojo/date/stamp",
			"dojo/request/iframe"
        ], function(JsonRest,Memory,Cache,DataGrid,ObjectStore,Cells,CheckBoxSelector,locale,stamp,iframe){
    		download = function(versionId) {
				iframe.post("downloadFile.do?versionId=" + versionId,{timeout: 1000});
            };
            myStore = Cache(  
                JsonRest({
    				target:"dojo/getVersionsAction", 
    				headers: {"Content-Type": "application/json"}, 
    				idProperty: "id",
    				}),   
                Memory({ idProperty: "id" })
			);
            dojo.ready(function(){
                var myFormatters = {
                   formatLink : function(value, index) {				   
                        return "<a>" + value + "</a>";
                   }
                };
          		var cells = [[
                    new Cells.RowIndex({
                        name:"No.", width : "4%"
                    }),
					{name:"版本ID", field:"id", width: "7%"},
    				{name:"程序版本", field:"version", width: "8%"},
					{name:"上传时间", field:"addTime", width: "15%"},
					{name:"校验码", field:"sequence", width: "5%"},
					{name:"文件名", field:"fileName", width: "13%", formatter:"formatLink"},
					{name:"可烧录次数", field:"burnSum", width: "8%"},
					{name:"备注", field:"remark", width: "40%"}
    			]];
    			gridLayout = [{
    					type: "dojox.grid._CheckBoxSelector", width: "4%"
    				}, 
    				cells
    			];
                versionGrid = new DataGrid({
                	store: versionDataStore = ObjectStore({objectStore: myStore}),
                	query: {driverId:$!driverId},
                    structure: gridLayout,
    				selectionMode: 'multiple',
    				rowsPerPage: 100,
    				autoHeight: "5", 
					escapeHTMLInData:"false",
					formatterScope:myFormatters
                }, "versionMgSearchForm.gridDiv");
    			versionGrid.startup();				
            });
        });
	</script>
    <div id="versionMgSearchForm.gridDiv" style="width: 100%; height: 80%;">
	</div>
    <div id="versionMgSearchForm.editMode" style="width: 100%; height: 20%;">
        <div data-dojo-type="dijit/Dialog" id="editVersionDialog" title="编辑产品" href="">
        </div>
        #if ($loginUser.type == 'UserType_1' || $loginUser.type == 'UserType_2' || $loginUser.type == 'UserType_4')
		<div data-dojo-type="dijit/Dialog" id="addVersionDialog" title="添加版本" href="LoadAddVersionDialog.do?driverId=$!driverId">
        </div>
        <button data-dojo-type="dijit/form/Button" id="versionMgSearchForm.addButton">
        	<span>添加</span>
        	<script type="dojo/on" data-dojo-event="click">
				if(dijit.byId("addVersionDialog").isLoaded){
					dijit.byId("addVersionDialog").show();
					dijit.byId("addVersionDialog").refresh();
				}else{
					dijit.byId("addVersionDialog").show();
				}
        	</script>
        </button>
	    <button data-dojo-type="dijit/form/Button" id="versionMgSearchForm.editButton">
			<span>编辑</span>
			<script type="dojo/on" data-dojo-event="click">
				var items = versionGrid.selection.getSelected();
                if (items.length == 0) {
                    alert("请选择需要编辑的版本。");
                }else if (items.length > 1) {
					alert("只能选择一个版本。");
				}else{
					var versionId = items[0].id;
					dijit.byId("editVersionDialog").href="LoadEditVersionDialog.do?versionId=" + versionId;
    				if(dijit.byId("editVersionDialog").isLoaded){
    					dijit.byId("editVersionDialog").show();
    					dijit.byId("editVersionDialog").refresh();
    				}else{
    					dijit.byId("editVersionDialog").show();
    				}
				}
        	</script>
		</button>
	    <button data-dojo-type="dijit/form/Button" id="versionMgSearchForm.removeButton">
			<span>删除</span>
			<script type="dojo/on" data-dojo-event="click">
                var items = versionGrid.selection.getSelected();
                if (items.length) { 
                    if(!confirm('确认删除？')){  
                        return false;
                    }
                    dojo.forEach(items, function (selectedItem) {
                        if (selectedItem !== null) {
                            versionDataStore.deleteItem(selectedItem);
                        }
                    });
					saveTable();
                }else{
					alert("请选择需要删除的版本。");
				}
                var onSave = function(){
                	dojo.byId("message").innerHTML = ("删除成功.");
                }
                var onSaveError = function(error){
                	alert("删除失败.");
                }
                function saveTable() {
                    if (versionGrid.edit.isEditing()) {
                    	versionGrid.edit.apply();
                    }
                    if (versionDataStore.isDirty()) {
                    	var result = versionDataStore.save({onComplete: onSave, onError: onSaveError});
                    }
                }
        	</script>
		</button>		
	    <button data-dojo-type="dijit/form/Button" id="versionMgSearchForm.downloadButton">
			<span>下载</span>
			<script type="dojo/on" data-dojo-event="click">
				var items = versionGrid.selection.getSelected();
                if (items.length == 0) {
                    alert("请选择需要下载的版本。");
                }else if (items.length > 1) {
					alert("只能选择一个版本。");
				}else{
					download(items[0].id);
				}
        	</script>
		</button>
		#end
		#if ($loginUser.type == 'UserType_1' || $loginUser.type == 'UserType_3')
	    <button data-dojo-type="dijit/form/Button" id="versionMgSearchForm.setBurnSumButton">
			<span>设置烧录次数</span>
			<script type="dojo/on" data-dojo-event="click">
				var items = versionGrid.selection.getSelected();
                if (items.length == 0) {
                    alert("请选择需要设置的版本。");
                }else if (items.length > 1) {
					alert("只能选择一个版本。");
				}else{
					var versionId = items[0].id;
					dijit.byId("editVersionDialog").href="LoadEditVersionDialog.do?versionId=" + versionId;
    				if(dijit.byId("editVersionDialog").isLoaded){
    					dijit.byId("editVersionDialog").show();
    					dijit.byId("editVersionDialog").refresh();
    				}else{
    					dijit.byId("editVersionDialog").show();
    				}
				}
        	</script>
		</button>
		#end
		#if ($loginUser.type == 'UserType_6')
	    <button data-dojo-type="dijit/form/Button" id="versionMgSearchForm.userConfirmButton">
			<span>客户确认</span>
			<script type="dojo/on" data-dojo-event="click">
				var items = versionGrid.selection.getSelected();
                if (items.length == 0) {
                    alert("请选择需要确认的版本。");
                }else if (items.length > 1) {
					alert("只能选择一个版本。");
				}else{
					var versionId = items[0].id;
            		dojo.xhrPost({
                        url: "userConfirmAction.do?versionId=" + versionId,
            			handleAs : "json",
                       	load: function(data){
							alert(data["msg"]);
                    		if(data["success"]){								
            					versionGrid.setQuery({driverId:"$!driverId"});
                    		}						            		
                    	},
                    	error: function(data){					            		
            			}
                    });
				}
        	</script>
		</button>
		#end
    </div>
	<div id="message">
	</div>
</div>