<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="User" type="cn.com.lfcowboy.driver.domain.User" />
		<typeAlias alias="UserType" type="cn.com.lfcowboy.driver.domain.UserType" />
	</typeAliases>
	<mappers>
		<mapper resource="SqlMap_User.xml" />
		<mapper resource="SqlMap_UserType.xml" />
	</mappers>
</configuration>