<form data-dojo-type="dijit/form/Form" id="editUserForm">
	<script type="dojo/event" data-dojo-event="onSubmit" data-dojo-args="e">
        dojo.stopEvent(e); // prevent the default submit
        if(!this.isValid()){ window.alert('Please fix fields'); return; }								
		dojo.xhrPost({
            url: "editUsersAction.do",
			handleAs : "json",
			form : "editUserForm",
           	load: function(data){
        		if(data["success"]){			
					dijit.byId('editUserDialog').hide();
					var tab = jhw.getTab("userManagement.do");
					if (typeof tab !== "undefined"){					
						userGrid.setQuery(userMgSearchForm.get("value"));
					}
        		}else{
        			alert(data["msg"]);
        		}						            		
        	},
        	error: function(data){					            		
			}
        });
    </script>
	<table style="border: 1px solid #9f9f9f;" cellspacing="10">
		<tr>
            <td>
                <label for="type">用户类型:</label>
            </td>
            <td>
				<input type="text" value="$!user.typeName" id="editUserForm.typeName" name="typeName" required="true" data-dojo-type="dijit/form/TextBox" readOnly/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="account">用户名:</label>
            </td>
            <td>
				<input type="text" value="$!user.account" id="editUserForm.account" name="account" required="true" data-dojo-type="dijit/form/TextBox" readOnly data-dojo-props="maxLength:20, regExp:'[A-Za-z0-9\-]*', invalidMessage:'支持:英文,数字,-'"/>
			</td>
        </tr>
        <tr>
            <td>
                <label for="name">名字:</label>
            </td>
            <td>
				#if ($loginUser.type == 'UserType_1')
					<input type="text" value="$!user.name" id="editUserForm.name" name="name" required="true" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props="maxLength:60, pattern:'[A-Za-z0-9\-\u4e00-\u9fa5]*', invalidMessage:'支持:中文,英文,数字,-'"/>
				#else
					<input type="text" value="$!user.name" id="editUserForm.name" name="name" required="true" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props="maxLength:60, pattern:'[A-Za-z0-9\-\u4e00-\u9fa5]*', invalidMessage:'支持:中文,英文,数字,-'" readOnly/>
				#end
                
            </td>
        </tr>
        <tr>
            <td>
                <label for="password">密码:</label>
            </td>
            <td>
                <input type="password" value="$!user.password" id="editUserForm.password" name="password" required="true" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props="maxLength:20, pattern:'[A-Za-z0-9_\-]*', invalidMessage:'支持:英文,数字,-,_'"/>
            </td>
        </tr>
    </table>
    <button data-dojo-type="dijit/form/Button" type="submit" id="editUserForm.saveUserBtn">保存</button>
	<button data-dojo-type="dijit/form/Button" type="button" id="editUserForm.cancelBtn">返回
        <script type="dojo/on" data-dojo-event="click">
            dijit.byId('editUserDialog').hide();
    	</script>
	</button>
</form>