<form data-dojo-type="dijit/form/Form" id="loginForm">
    <script type="dojo/event" data-dojo-event="onSubmit" data-dojo-args="e">
        dojo.stopEvent(e); // prevent the default submit
        if(!this.isValid()){ window.alert('Please fix fields'); return; }								
        dojo.xhrPost( {
        	url: 'login.do',
        	form : "loginForm",
        	handleAs: 'json',
        	load: function(data){
        		if(data["success"]){
					alert("登录成功！");
					window.location.reload();
					dijit.byId('loginDialog').hide();
					dijit.byId('productContentPane').refresh();
					dijit.byId('driverContentPane').refresh();	
					dijit.byId('userContentPane').refresh();
        		}else{
        			alert(data["msg"]);
        		}            		
        	},
        	error: function(data){					            		
			}
        });
    </script>
	<script type="dojo/on" data-dojo-event="show">
        require([
         	"dojo/data/ObjectStore"
        ], function(ObjectStore){
    		var userTypes = dijit.byId("type");
    		userTypes.set("store",ObjectStore({objectStore: userTypesStore}));
			userTypes.set("value", "UserType_1");
        });
	</script>
    <div class="dijitDialogPaneContentArea">								
	    <table style="border: 1px solid #9f9f9f;" cellspacing="10">
			<tr>
	            <td>
	                <label for="type">请选择登录类型:</label>
	            </td>
	            <td>
					<input data-dojo-type="dijit/form/Select" value="" data-dojo-props="labelAttr:'name',valueAttr:'name'" name="type" id="type" data-dojo-attach-point="type"/>
	            </td>
	        </tr>
	        <tr>
	            <td>
	                <label for="account">用户名:</label>
	            </td>
	            <td>
	                <input type="text" id="account" name="account" required="true" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props="maxLength:20, regExp:'[A-Za-z0-9\-]*', invalidMessage:'支持:英文,数字,-'"/>
	            </td>
	        </tr>
	        <tr>
	            <td>
	                <label for="dob">密码:</label>
	            </td>
	            <td>
	                <input type="password" id="password" name="password" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props="maxLength:20, regExp:'[A-Za-z0-9_\-]*', invalidMessage:'支持:英文,数字,-,_'"/>
	            </td>
	        </tr>
	    </table>
    </div>
    <div class="dijitDialogPaneActionBar">
        <button data-dojo-type="dijit.form.Button" type="submit">登录</button>
        <button data-dojo-type="dijit.form.Button" type="button" data-dojo-props="onClick:function(){dijit.byId('loginDialog').hide();}">返回</button>
    </div>
</form>