<div dojoType="dijit/layout/ContentPane" id="userInfoDialog" title="登录用户" href="LoadUserInfoDialog.do" class="info">
</div>
<div data-dojo-type="dijit/Dialog" id="editUserDialog" title="编辑用户" href="">
</div>
#if (!$loginUser)
<button data-dojo-type="dijit/form/Button" id="loginBtn">
	<span>用户登录</span>
	<script type="dojo/on" data-dojo-event="click">
        dijit.byId("loginDialog").show();
	</script>
</button>
<br/>
#end
#if ($loginUser)
<button data-dojo-type="dijit/form/Button" id="editLoginUserBtn" type="button">
	<span>编辑登录帐号</span>
	<script type="dojo/on" data-dojo-event="click">
		dijit.byId("editUserDialog").href="LoadEditUserDialog.do?account=$loginUser.account";
		if(dijit.byId("editUserDialog").isLoaded){
			dijit.byId("editUserDialog").show();
			dijit.byId("editUserDialog").refresh();
		}else{
			dijit.byId("editUserDialog").show();
		}
	</script>
</button>
<br/>
#if ($loginUser.type == 'UserType_1' || $loginUser.type == 'UserType_2' || $loginUser.type == 'UserType_3')
<button data-dojo-type="dijit/form/Button" id="accountManagementBtn" type="button">
	<span>用户管理</span>
	<script type="dojo/on" data-dojo-event="click">
		jhw.addTab("myTabContainer", "userManagement.do", "用户管理", true);
	</script>
</button>
<br/>
#end
<button data-dojo-type="dijit/form/Button" id="logoutBtn" type="button">
	<span>退出登录</span>
	<script type="dojo/on" data-dojo-event="click">							
        dojo.xhrPost( {
        	url: 'logout.do',
        	handleAs: 'json',
        	load: function(data){
        		if(data["success"]){
					jhw.closeAllTab("myTabContainer");
					dijit.byId('userContentPane').refresh();
					dijit.byId('productContentPane').refresh();
					dijit.byId('driverContentPane').refresh();
					alert("您已成功退出登录。");
        		}else{
        			alert(data["msg"]);
        		}            		
        	},
        	error: function(data){					            		
			}
        });
	</script>
</button>
#end